@use '../variables';
@use '../breakpoints';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: variables.$bb_font;
    background: variables.$bigs_white;
    overflow: hidden;
    min-height: calc(100vh - 48px - 220px);

    .header {
        display: flex;
        width: 100%;
        background: linear-gradient(variables.$bb_yellow, variables.$bb_yellow2);
        color: variables.$bb_black_2;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        
        .header__title {
            display: flex;
            flex-direction: column;
            width: 1000px;
            height: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            p:nth-child(odd){
                color: variables.$bb_black_2;
                -webkit-text-stroke-width: 3px;
                -webkit-text-fill-color: transparent;
                opacity: 20%;
            }

            p:nth-child(1){
                margin-bottom: -30px;
                align-self: flex-start;
            }
            p:nth-child(3){
                margin-top: -30px;
                align-self: flex-end;
            }
        }

        p {
            text-transform: uppercase;
            font-weight: 600;
            font-style: italic;
            margin: 0;
            letter-spacing: 1px;
        }


    }
}

@media screen and (max-width:breakpoints.$screen-sm-max) {
    .header {
        height: 35vh;
        .header__title {
            p:nth-child(odd){
                -webkit-text-stroke-width: 2px !important;
            }
            p:nth-child(1){
                margin-bottom: 0px !important;
            }
            p:nth-child(3){
                margin-top: 0px !important;
            }
        }
        p {
            font-size: 40px;
        }
    }
}

@media screen and (min-width:breakpoints.$screen-md-min) {
    .header {
        height: 50vh;
        p {
            font-size: 96px;
        }
    }
}