@use '../variables';
@use '../breakpoints';


.body {
    width: 100%;

    .body__list {
        display: flex;
        width: 100%;
        align-items: center;
    
        .body__text {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
    
            .text__constrainer {
                width: 60%;
                
                p:first-of-type {
                    font-family: variables.$reading-font;
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p {
                    font-family: variables.$reading-font;
                    font-size: 18px;
                }
            }
            
        }
    
        .body__img {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width:breakpoints.$screen-sm-max) {
    .header__title {
        width: 80% !important;
    }

    .body__list {
        flex-direction: column;
        height: 70vh;
        .body__img{
            height: 100%;
        }
    }
    
}

@media screen and (min-width:breakpoints.$screen-lg-max) {
    .body__list {
        flex-direction: row;
        height: 50vh;
        .body__img{
            height: 100%;
        }
    }
   
}