@use '../variables';
@use '../breakpoints';

@mixin content_mixin {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.content_wrapper {
    width: 100%;
}
.content__description {
    @include content_mixin;
    height: auto;
    margin-bottom: 16px;
    text-align: center;

    & .description_red {
        color: red;
    }

    p {
        font-size: 18px;
        font-family: variables.$reading-font;
    }
}

.content__form {
    @include content_mixin;
    height: 90vh;
    margin: 16px 0px;

    iframe {
        width: 40%;
        height: 100%;
    }
}

@media screen and (max-width:breakpoints.$screen-sm-max) {
    .header__title {
        width: 280px !important;
    }
    .content__form {
        iframe {
            width: 70%;
        }
    }
}

@media screen and (min-width:breakpoints.$screen-lg-min) {
    .header__title {
        width: 800px !important;
    }
}