@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,800&display=swap');

$font: "Open Sans";

// Color Themes
$bb_yellow: rgb(255,215,0);
$bb_grey: rgb(51,51,51);
$bigs_red: rgb(213,0,50);
$bigs_white: rgb(220,220,220);
$bigs_blue: rgb(100, 151, 168);