@use './variables';

html, body {
    padding: 0px;
    margin: 0px;
    font-family: variables.$font;
    height: 100%;
    scroll-behavior: smooth;
    // overflow-x: hidden;
}

// .content-space {
//     flex-direction: column;
//     min-height: 100%;
// }

nav {
    // background-image: linear-gradient(to right, rgb(45,45,45,1) 75% , rgb(255,215,0,0.9));
    background: variables.$bb_yellow;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 2;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: variables.$bb_black_2;
    font-family: variables.$bb_font;


    .nav-container {
        width: 100%;
        max-width: 80%;
        display: flex;
        align-items: center;

        .logo  {
            margin-right: auto;
            a{
                margin-left: 0px;
            }
        }
        a:not(.logo_tag) {
            text-decoration: none;
            text-transform: capitalize;
            padding: 1rem 1rem;
            font-weight: 600;
            color: variables.$bb_black;
            transition: 0.2s all ease-in-out;

            &:hover {
                // box-shadow: inset 100px 0 0 0 #54b3d6;
                background: variables.$bb_black_2;
                color: variables.$bigs_white;
            }
        }
    }
}

.foot {
    // background: linear-gradient( to top, variables.$bb_black 75%, variables.$bb_black_2 100%) ;
    background: variables.$bb_black;
    width: 100%;
    height: 220px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: variables.$bb_font;
    
    color: variables.$bigs_white;
}

.footer-container-row {
    display: flex;
    flex-direction: row;
    gap: 20px;

    a{
        color: variables.$bigs_white;
        font-size: 30px;
    }
}

.title-bg {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;    
}
.title-md {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;    
}