@use './variables';
@use './breakpoints';

html, body {
    padding: 0px;
    margin: 0px;
    font-family: variables.$font;
    height: 100%;
    scroll-behavior: smooth;
    // overflow-x: hidden;
}

.hamburger {
    display: none;
}

@media screen and (max-width:breakpoints.$screen-md-max) {
    nav {
        // background-image: linear-gradient(to right, rgb(45,45,45,1) 75% , rgb(255,215,0,0.9));
        background: variables.$bb_yellow;
        overflow: hidden;
        position: fixed;
        width: 100%;
        display: flex;
        z-index: 2;
        height: 46px;
        justify-content: center;
        align-items: center;
        color: variables.$bb_black_2;
        font-family: variables.$bb_font;
    
        .nav-container {
            width: 100%;
            max-width: 90%;
            display: flex;
            align-items: center;
    
            .nav__logo  {
                width: 40%;
                margin-right: auto;
            }

            a:not(.logo_tag) {
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-transform: capitalize;
                font-weight: 600;
                font-size: 40px;
                color: variables.$bigs_white;

                &:active {
                    color: variables.$bb_yellow;
                }
            }
        }

        .nav-menu{
            display: none;
        }

        .nav-mobile__menu {
            position: fixed;
            left: 0%;
            top: 38px;
            gap: 100px;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: variables.$bb_black;
            text-align: center;
            justify-content: center;
            transition: 0.3s;
        }

        .hamburger {
            display: block;

            &.clicked .bar:nth-child(2){
                opacity: 0;
            }
            &.clicked .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            &.clicked .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }

            & .bar {
                display:block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: variables.$bb_black;
            }
        }
    }
}

@media screen and (min-width:breakpoints.$screen-lg-min) {
    nav {
        // background-image: linear-gradient(to right, rgb(45,45,45,1) 75% , rgb(255,215,0,0.9));
        background: variables.$bb_yellow;
        overflow: hidden;
        position: fixed;
        width: 100%;
        display: flex;
        z-index: 2;
        height: 48px;
        justify-content: center;
        align-items: center;
        color: variables.$bb_black_2;
        font-family: variables.$bb_font;
    
    
        .nav-container {
            width: 100%;
            max-width: 80%;
            display: flex;
            align-items: center;
    
            .nav__logo  {
                margin-right: auto;
                a{
                    margin-left: 0px;
                }
            }
            a:not(.logo_tag) {
                text-decoration: none;
                text-transform: capitalize;
                padding: 1rem 1rem;
                font-weight: 600;
                color: variables.$bb_black;
                transition: 0.2s all ease-in-out;
    
                &:hover {
                    background: variables.$bb_black_2;
                    color: variables.$bigs_white;
                }
            }
        }
    }
}


.foot {
    // background: linear-gradient( to top, variables.$bb_black 75%, variables.$bb_black_2 100%) ;
    background: variables.$bb_black;
    width: 100%;
    height: 220px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: variables.$bb_font;
    text-transform: uppercase;
    color: variables.$bigs_white;
}

.footer-container-row {
    display: flex;
    flex-direction: row;
    gap: 20px;

    a{
        color: variables.$bigs_white;
        font-size: 30px;
    }
}

@keyframes inAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}
  
@keyframes outAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}