@use './variables';
@use './breakpoints';

.nav {  
    position:absolute;
    width: 100%;
    padding: 15px 2vh;
    z-index: 1;
    opacity: 100%;
    font-size: 20px;
    font-weight: 400;
    text-transform:uppercase;
    color: black;
}

.background {
    position:fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    background: variables.$bb_grey;
    // gap: 1px;

    &:hover > .container_left {
        filter: blur(3px);
        right:0;
    }

    .container_left {
        display: flex;
        flex-direction: column;
        flex:1;
        width: 100%;
        padding-left: 50px;
        // background: linear-gradient(120deg, (variables.$bb_grey) 0%, rgba(18, 18, 18,1) 100%);
        background: linear-gradient(to left, (variables.$bb_yellow) 0%, rgb(255, 255, 120) 100%);
        transition: 1.5s all;
        color: variables.$bb_grey;
        overflow: hidden;
        pointer-events: auto;

        &:hover {
            flex: 2.1;
            padding-left: 120px;
            filter: none;
        }

        &:hover + .container_right {
            filter: blur(3px);
            padding-left: 80px;
        }

        .btn {
            color: variables.$bb_grey;
            border-color: variables.$bb_grey;

            &:hover {
                color: variables.$bigs_white;
                background-color: variables.$bb_grey;
            }
        }
    }

    .container_right {
        display: flex;
        flex-direction: column;
        flex:1;
        width: 100%;
        padding-left: 50px;
        // background: linear-gradient(120deg, (variables.$bigs_white) 0%, rgba(180, 180, 190,1) 100%);
        background: linear-gradient(90deg, (variables.$bigs_blue) 0%, rgba(160, 210 , 220) 100%);
        transition: 1.5s all;
        color: variables.$bigs_white;
        overflow: hidden;
        pointer-events: auto;

        &:hover {
            flex: 2.1;
            left: auto;
        }

        &:hover + .container_left {
            filter: blur(3px);
        }

        .btn {
            color:variables.$bigs_white;
            border-color: variables.$bigs_white;

            &:hover {
                color:variables.$bb_grey;
                background: variables.$bigs_white;
            }
        }
    }
}

@media (max-width: breakpoints.$screen-sm-max) {
    .background {
        flex-direction: column;

        .container_left{
            flex-direction: row;
            pointer-events: none;
            padding: 0px;
        }
        .container_right {
            flex-direction: row;
            pointer-events: none;
            padding: 0px;
            direction: rtl;
            top:20%;
        }
    }
}

.text {
    position: relative;
    width: 100%;
    max-width: 90%;
    top: 35%;
    margin: 0px 20px;
    text-align: center;
    white-space: nowrap;

    .title {
        font-size: 80px;
        font-weight: 800;
        font-style: italic;
        letter-spacing: 4px;
        margin: 0px;
    }

    .title2 {
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        margin-top: 0px;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 400;
    }

    .btn {
        font-family: inherit;
        font-size: 20px;
        font-weight: 400;
        padding: 13px 40px 15px 40px;
        background: transparent;
        letter-spacing: 1px;
        border: 2px solid;
        outline: none;
        border-radius: 100px;
        transition: 0.5s all;
        cursor: pointer;
    }
}